# Discord connection
DISCORD_TOKEN="token"
DISCORD_CLIENT_ID="client-id"
DISCORD_TEST_GUILD_ID="guild-id"

# Database
POSTGRES_USER=draftbot
POSTGRES_PASSWORD=a_safe_password
POSTGRES_DB=draftbot
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5437